name: meowhub

services:
  api:
    container_name: meowhub-api
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file: .env
    volumes:
      - media:/app/backend/media
      - staticfiles:/app/backend/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    container_name: meowhub-frontend
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=/api
    ports:
      - "3000:80"
    depends_on:
      - api

  db:
    container_name: meowhub-db
    image: postgres:15-alpine
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    container_name: meowhub-redis
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  media:
  staticfiles:
